{% extends "base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Videos</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> Videos created {{video.user}} </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Desc</th>
                <th>Created On</th>
                <th>Video File</th>
                
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                
                <td>{{video.title}}</td>
                <td>{{video.description}}</td>
                <td>{{video.created_at}}</td>
                <td>{{video.video_file}}</td>
                <td>
                    <a href="{% url 'edit_video' video.pk %}">Update</a>
                </td>
                
                <td>
                    <a href="{% url 'remove_video' video.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <div class="alert alert-danger" role="alert">
        Do you want to enter more videos?
    </div>

    <p>
        <a href="{% url 'home' %}"><-- Go To Home Page</a>
    </p>
</body>
{% endblock %}